# Format Style Options - Created with Clang Power Tools
---
BasedOnStyle: Microsoft
UseTab: Always
IndentWidth: 4
ColumnLimit: 160
# IndentAccessModifiers: True
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
PointerAlignment: Left
BreakBeforeBraces: Stroustrup
AlwaysBreakTemplateDeclarations: Yes
# AllowShortFunctionsOnASingleLine: Inline
AlignAfterOpenBracket : DontAlign
ConstructorInitializerIndentWidth : 4
BreakConstructorInitializers : BeforeComma
ContinuationIndentWidth : 4
NamespaceIndentation : All
...
