# Format Style Options - Created with Clang Power Tools
---
BasedOnStyle: llvm
UseTab: Never
IndentWidth: 4
ColumnLimit: 125
# IndentAccessModifiers: True
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
PointerAlignment: Left
BreakBeforeBraces: Stroustrup
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket : DontAlign
ConstructorInitializerIndentWidth : 4
BreakConstructorInitializers : BeforeComma
ContinuationIndentWidth : 4
NamespaceIndentation : All
BinPackParameters: false
BinPackArguments: false
...
